# Ignorar Node.js (Frontend)
frontend/node_modules/
frontend/package-lock.json
frontend/yarn.lock
frontend/dist/
frontend/build/
frontend/.env

# Ignorar Spring Boot (Backend)
backend/target/
backend/*.jar
backend/*.war
backend/.env
backend/application.properties
backend/application.yml

# Ignorar Configuración de IDEs
*.iml
.idea/
.vscode/

# Ignorar Logs y Archivos Temporales
logs/
*.log